<div class="container">
    <h2> {{"PRIVACITY.1" | translate}} </h2>

    <h3> {{"PRIVACITY.2" | translate}} </h3>

    <p> {{"PRIVACITY.3" | translate}} </p>

    <h4> {{"PRIVACITY.4" | translate}} </h4>

    <p> {{"PRIVACITY.5" | translate}} </p>
    
    <ul>
        <li> {{"PRIVACITY.6" | translate}} </li>
        <li> {{"PRIVACITY.7" | translate}} </li>
        <li> {{"PRIVACITY.8" | translate}} </li>
        <li> {{"PRIVACITY.9" | translate}} </li>
    </ul>
    
    <h4> {{"PRIVACITY.10" | translate}} </h4>
    <p> {{"PRIVACITY.11" | translate}} </p>
        
    <p> {{"PRIVACITY.12" | translate}} </p>

    <ul>
        <li> {{"PRIVACITY.13" | translate}} </li>
        <li> {{"PRIVACITY.14" | translate}} </li>
        <li> {{"PRIVACITY.15" | translate}} </li>
    </ul>

    <h4> {{"PRIVACITY.16" | translate}} </h4>

    <p> {{"PRIVACITY.17" | translate}} </p>

    <h4> {{"PRIVACITY.18" | translate}} </h4>

    <p> {{"PRIVACITY.19" | translate}} </p>
    
    <ul>
        <li> {{"PRIVACITY.20" | translate}} </li>
        <li> {{"PRIVACITY.21" | translate}} </li>
        <li> {{"PRIVACITY.22" | translate}} </li>
        <li> {{"PRIVACITY.23" | translate}} </li>
        <li> {{"PRIVACITY.24" | translate}} </li>
        <li> {{"PRIVACITY.25" | translate}} </li>
        <li> {{"PRIVACITY.26" | translate}} </li>
    </ul>

    <h4> {{"PRIVACITY.27" | translate}} </h4>
   
    <p> {{"PRIVACITY.28" | translate}} </p>

    <h4> {{"PRIVACITY.29" | translate}} </h4>
   
    <p> {{"PRIVACITY.30" | translate}} </p>
    
    <h4> {{"PRIVACITY.31" | translate}} </h4>

    <p> {{"PRIVACITY.32" | translate}} </p>
    
    <h4> {{"PRIVACITY.33" | translate}} </h4>

    <p> {{"PRIVACITY.34" | translate}} </p>
    
    <ul>
        <li> {{"PRIVACITY.35" | translate}} </li>
        <li> {{"PRIVACITY.36" | translate}} </li>
        <li> {{"PRIVACITY.37" | translate}} </li>
        <li> {{"PRIVACITY.38" | translate}} </li>
        <li> {{"PRIVACITY.39" | translate}} </li>
        <li> {{"PRIVACITY.40" | translate}} </li>
        <li> {{"PRIVACITY.41" | translate}} </li>
    </ul>
    
    <h4> {{"PRIVACITY.42" | translate}} </h4>
     
    <p> {{"PRIVACITY.43" | translate}} </p>

    <h3> {{"PRIVACITY.44" | translate}} </h3>

    <p> {{"PRIVACITY.45" | translate}} </p>

    <p> {{"PRIVACITY.46" | translate}} </p>
    
    <p> {{"PRIVACITY.47" | translate}} </p>
</div>
