<div class="filters">
  <input
    placeholder="{{ 'MYSTUDENTS.FILTER' | translate}}"
    type="text"
    [(ngModel)]="studentName"
  />
</div>

<fieldset class="filters">
  <legend class="filters"> {{ "MYSTUDENTS.SORT" | translate}} </legend>
  <div class="sort">
    <input
      name="year"
      type="radio"
      id="asc"
      [(ngModel)]="sortByName"
      value="asc"
    />
    <label for="asc"> {{ "MYSTUDENTS.UPWARD" | translate}} </label>
  </div>
  <div>
    <input
      name="year"
      type="radio"
      id="desc"
      [(ngModel)]="sortByName"
      value="desc"
    />
    <label for="desc"> {{ "MYSTUDENTS.FALLING" | translate}} </label>
  </div>
</fieldset>
<div class="buttons">
  <div class="boton-student">
    <a routerLink="/teacherView" class="boton-volver">{{ "MYSTUDENTS.BUTTONS.RETURN" | translate}}</a>
  </div>
  <div class="boton-student">
    <button class="boton-student-download" (click)="generatePDF(students)">
      {{ "MYSTUDENTS.BUTTONS.DOWNLOAD" | translate}}
    </button>
  </div>
</div>
<div class="students">
  <div
    *ngFor="
      let student of students | filterName : studentName | sortName : sortByName
    "
    [ngClass]="{
      hide: student.name === 'Todos',
      'student-card': student.name !== 'Todos'
    }"
  >
    <p class="name">{{ student.name }}</p>
    <img [src]="student.image" alt="Foto del alumno" height="100" />
    <p class="clase"> {{ "MYSTUDENTS.CLASS" | translate}}: {{ student.grade }}</p>
    <button class="button_teachers" (click)="goDetail(student.id)">
      {{ "MYSTUDENTS.BUTTONS.DETAIL" | translate}} 
    </button>
  </div>
</div>

