<div class="card-book"
*ngIf="books">
  <div class="image-book">
    <div>
      <img
        (click)="open()"
        class="image"
        [ngClass]="{ img: !isOpen, 'img-active': isOpen }"
        src="{{ books.link }}"
        alt=""
      />
    </div>
  </div>

  <div [ngClass]="{ card2: !isOpen, hide: isOpen }" class="card2">
    <div class="card2-title">
      <p>{{ books.title }}</p>
    </div>

    <div class="card2-description">
      <p>{{ books.description }}</p>
      <a href="{{books.buy}}" target="_blank">Compralo!</a>
    </div>
  </div>
</div>
<!--El código  muestra información sobre un libro. El componente tiene una condición *ngIf que solo se muestra si existe algún libro llamado 'books'. Además, el componente tiene una imagen que se puede hacer clic para 'abrir' el libro y mostrar más información. Cuando se hace clic en la imagen, se llama a la función 'open ()'. La información adicional se muestra en un div con clase 'card2', que estaba oculto antes de hacer clic en la imagen. La descripción del libro y un enlace para comprar el libro se muestran en este div. -->