.nav {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }

  .container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  
 