
<nav class="nav">
    <a routerLink="/students" class="nav-item">Mis alumnos</a>
    <a routerLink="/teacher-messages" class="nav-item">Mensajes</a>
</nav>


<div class='demo-app'>
   
    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section'>
        <h2>Instruciones</h2>
        <ul>
          <li>Seleccione las fechas y se le pedirá que cree un nuevo evento</li>
          <li>Eventos para arrastrar, soltar y cambiar el tamaño  </li>
          <li>Haga clic en un evento para eliminarlo</li>
        </ul>
      </div>
      
    <div class='demo-app-sidebar-section'>
        <label>
            <input
              type='checkbox'
              [checked]='calendarOptions.weekends'
              (change)='handleWeekendsToggle()'
            />
              Quitar los fines de semana
            </label>
    </div>
    <div class='demo-app-sidebar-section'>
        <h2>Todos Los Eventos ({{currentEvents.length}})</h2>
        <ul>
          <li *ngFor='let event of currentEvents'>
            <b>{{event.startStr}}</b>
            <i>{{event.title}}</i>
          </li>
        </ul>
      </div>
    </div>
  
    <div class='demo-app-main'>
      <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  
  </div>