<div class="body" [ngClass]="{ 'body': !isPressed,
'hidden': isPressed}">
  <div class="card" >
    <img
      src="https://icons-for-free.com/download-icon-email+inbox+letter+mail+message+messages+icon-1320196706209650448_512.png"
      alt=""
    />
    <div class="left">
      <p class="left__name">{{ notifications?.name }}</p>
      <p class="left__date">{{ notifications?.date }}</p>
    </div>
    <div class="right">
  
      <button class="buttonArrow" (click)="inButton()">
        <i *ngIf="!infoButton" class="fa fa-arrow-down" aria-hidden="true"></i>
        <i *ngIf="infoButton" class="fa fa-arrow-up" aria-hidden="true"></i>
      </button>
      
    </div>
  </div>

  <div [ngClass]="{ 'cardDisable': !infoButton,
  'cardActive': infoButton}" class="cardDisable card">
    <p>{{ notifications?.description }}</p>
    <div><button (click)="deleteNotification(notifications?._id)">Eliminar</button></div>
    <div><button (click)="moreInfoNotification(notifications)">Más Informacíon</button></div>

  </div>
</div>
