<div  (click)="moreInfoNotification(notifications) " class="msg" >
  <div class="title">
    <p class="title__name">{{ notifications?.name}}</p>
    <p class="title__date">{{ notifications?.date}}</p>
    <div class="title__delete"></div>
  </div>
  <div class="notification">
    <p>{{ notifications?.description}}</p>
  </div>
</div>





<!-- <div class="body" [ngClass]="{ body: !isPressed, hidden: isPressed }">
  <div class="card" [ngClass]="{ card: !isReaded, readed: isReaded }">
    <img
      src="../../../../assets/logos/email-icon.png"
      alt=""
    />
    <div class="left">
      <p class="left__name">{{ notifications?.name }}</p>
      <p class="left__date">{{ notifications?.date }}</p>
    </div>
    <div class="right">
      <button class="button-arrow" (click)="inButton()">
        <i *ngIf="!infoButton" class="fa fa-arrow-down" aria-hidden="true"></i>
        <i *ngIf="infoButton" class="fa fa-arrow-up" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div
    [ngClass]="{ 'card-disable': !infoButton, 'card-active': infoButton }"
    class="card-disable card"
  >
    <p>{{ notifications?.description }}</p>

    <div class="card-buttons">

      <form
        *ngIf="notificationForm"
        (submit)="editNotification(notifications?._id)"
        [formGroup]="notificationForm" >
 <div><button type="submit">Leida</button></div>
      </form>
      <div class="card-buttons__open">
        <button (click)="moreInfoNotification(notifications)">
          Abrir
        </button>
      </div>
      <div *ngIf="'card-active'" class="card-buttons__icon" (click)="deleteNotification(notifications?._id)">
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
      </div>
   
    </div>
  </div>
</div> -->


