<div class="body">
  <form
    action="https://formspree.io/f/xpzejojw"
    method="POST"
    class="container"
  >
    <div class="form--group">
      <label for="Nombre">Nombre</label>
      <input
        class="form--control"
        type="text"
        name="Nombre"
        placeholder="Nombre"
      />
    </div>
    <div class="form--group">
      <label for="email">
        Email
        <input class="form--control" type="email" name="email" placeholder="Email"/>
      </label>
    </div>
    <div class="form--group">
      <label for="Mensaje">Mensaje</label>
      <input
        class="form--control"
        type="text"
        name="Mensaje"
        placeholder="Escriba aquí su mensaje"
      />
    </div>
    <button type="submit" class="form--button">Send</button>
  </form>
</div>
