<div class="body">
  <form
    action="mailto:fullcalendar2703@gmail.com"
    method="post"
    enctype="text/plain"
    class="container"
  >
    <div class="form--group">
      <label  for="Nombre">Nombre</label>
      <input class="form--control" type="text" name="Nombre" placeholder="Nombre" />
    </div>
    <div class="form--group">
      <label for="Email">Email</label>
      <input class="form--control" type="email" name="Email" placeholder="Email" />
    </div>
    <div class="form--group">
      <label for="Mensaje">Mensaje</label>
      <input class="form--control" type="text" name="Mensaje" placeholder="Escriba aquí su mensaje" />
    </div>

    <button class="form--button" type="submit">Enviar</button>
  </form>
</div>
