<div class="page">
  <div class="intro-div">
    <h1 class="title">{{ "READINGWRITINGACTIVITIES.TITLE" | translate }}</h1>
    <div class="image-container">
      <img src="../../../../assets/resourcesImages/escribir.png" alt="Imagen de lectoescritura">
    </div>
    <p class="description">{{ "READINGWRITINGACTIVITIES.INTRO1" | translate }}</p>
    <p class="description">{{ "READINGWRITINGACTIVITIES.INTRO2" | translate }}</p>
    <div class="boton-volver-resources">
      <a routerLink="/resources" class="boton-volver">{{ "READINGWRITINGACTIVITIES.BACKBUTTON" | translate }}</a>
    </div>
  </div>
  <div class="activities-container">
    <div class="card-container" *ngFor="let activity of readingWritingActivities">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">{{activity.title}}</h2>
        </div>
        <div class="card-image">
          <img [src]="activity.link" alt="{{activity.title}}">
        </div>
        <div class="card-description">
          <p>{{activity.description}}</p>
        </div>
        <button class="download-button" (click)="seeImage(activity.link)">{{ "READINGWRITINGACTIVITIES.VIEWBUTTON" | translate }}</button>
      </div>
    </div>
  </div>
</div>
