.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.back img {
  width: 800px;
  height: 500px;
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .back img{
    width:800px;
    height: 300px;
  }
}

/* Este código configura una div con la clase "back" para que sea un contenedor flexible centrado vertical y horizontalmente en toda la altura de la pantalla. Además, se establece el tamaño y margen inferior de una imagen dentro de esa div.

También utiliza media queries para cambiar el tamaño de la imagen cuando el ancho máximo del dispositivo es 768px o menos. En ese caso, se reduce tanto el ancho como el alto de la imagen para que se ajuste a la pantalla. */