@import '../../../styles/base/colors.scss';
@import '../../../styles/base/fonts.scss';
@import '../../../styles/elements/form.scss';

.boton-volver{
  display: flex;
  justify-content: center
}
.boton-volver-family {
  @include botonVolver($colorgeneral);
  margin-bottom: 30px; 
}

h3{

  text-align: center;
  font-size: 17px;
}

.body{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification{

  width: 70%;
  height: 88%;
  display: flex;
  
}

.body-list{
  width: 30%;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);

}

.list-msg{

  
  overflow: auto;
  position: relative;
  z-index: 1;
  height: 90%;
  width: 100%;


}

.paginator {

  height: 100%;
}



.paginator mat-paginator{
  background-color: $colorgeneral;
  color: black;
  color: white;

  
  
}


.msg{

  width: 70%;
  background-color: rgb(239, 239, 239);
  position: relative;
  z-index: 0;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
}


@media all and (max-width: 1500px) { 
  .notification{

    flex-direction: column;
 
  }

  .body-list{

    width: 100%;
    height: 50%;

  }

  .msg{

    width: 100%;
    height: 50%;
    overflow: auto;
    transform: translateY(30px);
    
  }

  .notification{

    margin-bottom: 50px;
  }
    
}