<!-- <h3>Notificaciones</h3>
<app-modal-notification
*ngIf="showNotification"
[notification]="savedNotification"
(closeNotifications)="closeNotifications($event)"
></app-modal-notification>
<app-notification class="body"
*ngFor="let item of notifications"
[notifications]="item"
(savedNotification)="moreInfoNotification($event ,$event)"
(readedNotification)="editNotification($event)"
>
</app-notification> -->
<h3>Buzon de Notificaciones</h3>
<div class="boton-volver">
  <a routerLink="/familyView" class="boton-volver-family">Volver</a>
</div>


<div class="body">

  <div class="notification">

    <div class="body-list">

      <div class="list-msg">
        <app-notification
          *ngFor="let item of notifications | paginate:page_size:page_number"
          [notifications]="item"
          (notification)="moreInfoNotification($event)"
          (deleteModal)="deleteNotifications($event)"
          (readedNotification)="editNotification($event)"
          >
        </app-notification>


      </div>


      <div class="paginator">
        <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="notifications.length"
        [pageSize]="page_size"
        [hidePageSize]="hidePageSize"
             >
        </mat-paginator>
      </div>

 </div>



    <div class="msg" [ngClass]="{'msg': showNotification,'msg-hide': !showNotification}">
      <app-modal-notification *ngIf="showNotification" class="msg=body"
        [notification]="savedNotification"
      ></app-modal-notification>
    </div>


  </div>
</div>
