<!-- <h3>Notificaciones</h3>
<app-modal-notification
*ngIf="showNotification"
[notification]="savedNotification"
(closeNotifications)="closeNotifications($event)"
></app-modal-notification>
<app-notification class="body"
*ngFor="let item of notifications"
[notifications]="item"
(savedNotification)="moreInfoNotification($event ,$event)"
(readedNotification)="editNotification($event)"
>
</app-notification> -->
<div class="body">
  <div class="notification">
    <div class="list-msg">
      <app-notification
        *ngFor="let item of notifications"
        [notifications]="item"
        (savedNotification)="moreInfoNotification($event, $event)"
        (readedNotification)="editNotification($event)"
      >
      </app-notification>
    </div>
    <div class="msg">
      <app-modal-notification class="msg_body"
        [notification]="savedNotification"
      ></app-modal-notification>
    </div>
  </div>
</div>
