<div class="containercarousel">
<carousel id="carousel">
    <div class="carousel--background">
  <slide class="carousel--div">
    <img
      src="../../../../assets/imagesSlider/ClaseGeneral.jpeg"
      alt="Imagen 1"
      class="carousel--div--image"
    />
    <div class="carousel--div--contain">
        <h2> {{ "ABOUTSLIDER.1.TITLE" | translate}} </h2>
        <p> {{ "ABOUTSLIDER.1.TEXT1" | translate}}
        </p>
        <p> {{ "ABOUTSLIDER.1.TEXT2" | translate}}</p>
    </div>
  </slide>
</div>
  <slide>
    <img
      src="../../../../assets/imagesSlider/ClaseGeneral2.jpg"
      alt="Imagen 2"
      class="carousel--div--image"
    />
    <div class="carousel--div--contain">
        <h2>{{ "ABOUTSLIDER.2.TITLE" | translate}} </h2>
        <p>{{ "ABOUTSLIDER.2.TEXT" | translate}}</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../../assets/imagesSlider/ConstruccionMadera.jpg"
      alt="Imagen 3"
      class="carousel--div--image"
    />
    <div class="carousel--div--contain">
        <h2>{{ "ABOUTSLIDER.3.TITLE" | translate}} </h2>
        <p>{{ "ABOUTSLIDER.3.TEXT" | translate}}</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../../assets/imagesSlider/ManualidadesReciclaje.jpg"
      alt="Imagen 4"
      class="carousel--div--image"
    />
    <div class="carousel--div--contain">
        <h2>{{ "ABOUTSLIDER.4.TITLE" | translate}} </h2>
        <p>{{ "ABOUTSLIDER.4.TEXT" | translate}}</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../../assets/imagesSlider/MaterialesMontessori.jpg"
      alt="Imagen 5"
      class="carousel--div--image"
    />
    <div class="carousel--div--contain">
        <h2>{{ "ABOUTSLIDER.5.TITLE" | translate}} </h2>
        <p>{{ "ABOUTSLIDER.5.TEXT" | translate}}</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../../assets/imagesSlider/MaterialesMontessori2.jpg"
      alt="Imagen 6"
      class="carousel--div--image"
    />
    <div class="carousel--div--contain">
        <h2>{{ "ABOUTSLIDER.6.TITLE" | translate}} </h2>
        <p>{{ "ABOUTSLIDER.6.TEXT" | translate}}</p>
    </div>
  </slide>
  <button carousel-control direction="prev" id="carousel">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button carousel-control direction="next" id="carousel">
    <span class="carousel-control-next-icon"></span>
  </button>
</carousel>
</div>
