<header class="body">
  <div class="header">
    <div class="header--logo">
      <a [routerLink]="['home']">
        <img class="logo" src="../../../../assets/logos/LogoGeneral.png" />
      </a>
    </div>

    <div class="links">
      <ul class="links--list">
        <li class="links--list--url">
          <a *ngIf="isLogged" [routerLink]="['myAccount']">{{
            "HEADER.ACCOUNT" | translate
          }}</a>
        </li>
        <li class="links--list--url">
          <a *ngIf="isLogged" (click)="logout()">{{
            "HEADER.LOGOUT" | translate
          }}</a>
        </li>
        <li class="links--list--url">
          <a [routerLink]="['about']">{{ "HEADER.ABOUT" | translate }}</a>
        </li>
        <!--Este código define la estructura de un encabezado (header) para la página web, el cual incluye un logo y una lista de enlaces. Además, dependiendo si el usuario ha iniciado sesión o no, se muestran diferentes enlaces. Se utiliza  para enlazar los elementos y se incluye la funcionalidad de cambio de idioma -->
      </ul>
    </div>


    <div (click)="activeMenu()" class="drop-icon">
      <img src="../../../../assets/logos/logo hamburguesa.png" alt="">
    </div>

    <div class="menu" [ngClass]="{'menu': !menuNav, 'menu-active': menuNav }">

      <div class="menu-list">
          <div>
            <a *ngIf="isLogged" [routerLink]="['myAccount']">{{ "HEADER.ACCOUNT" | translate}}</a>
          </div>

          <div>
            <a *ngIf="isLogged" [routerLink]="['home']" (click)="logout()">{{ "HEADER.LOGOUT" | translate }}</a>
          </div>

          <div><a [routerLink]="['about']">{{ "HEADER.ABOUT" | translate }}</a></div>
      </div>
    </div>
    
  </div>
  <div class="language"
  >
    <img src="../../../../assets/logos/flags.jpg" alt="Language"
    #langSelect (click)="changeLang('en')"
    [ngClass]="{
      'spanish': lang == 'en',
      'english': lang == 'es'
    }"
    >
    <!-- <select #langSelect (change)="changeLang(langSelect.value)">
      <option *ngFor="let lang of langs" [value]="lang">
        {{ lang === "es" ? "🇪🇸Español " : "🇬🇧English" }}
      </option>
    </select> -->
  </div>
  <div class="icon-theme">
    <img
      [ngClass]="{
        'icon-img': theme == 'light',
        'theme-change': theme == 'dark'
      }"
      (click)="setThema()"
      class="icon-img"
      src="../../../../assets/logos/luna y sol.png"
      alt="Sol"
    />
  </div>
</header>
<!-- Este código representa dos botones de imagen que permiten seleccionar entre los temas "light" y "dark". -->

