<header class="body">
  <div class="header">
    <a class="header--logo" [routerLink]="['home']">
      <img class="logo" src="../../../../assets/logos/LogoGeneral.png" />
    </a>
    <div class="links">
      <ul class="links--list">
        <li class="links--list--url">
          <a *ngIf="isLogged" [routerLink]="['myAccount']">{{
            "HEADER.ACCOUNT" | translate
          }}</a>
        </li>
        <li class="links--list--url">
          <a *ngIf="isLogged" (click)="logout()">{{
            "HEADER.LOGOUT" | translate
          }}</a>
        </li>
        <li class="links--list--url">
          <a [routerLink]="['about']">{{ "HEADER.ABOUT" | translate }}</a>
        </li>
        <!--Este código define la estructura de un encabezado (header) para la página web, el cual incluye un logo y una lista de enlaces. Además, dependiendo si el usuario ha iniciado sesión o no, se muestran diferentes enlaces. Se utiliza  para enlazar los elementos y se incluye la funcionalidad de cambio de idioma -->
      </ul>
    </div>
  </div>
  <div class="div--icon">
    <button class="div--icon--button" (click)="setThema('light')">
      <img class="div--icon--img" src="../../../../assets/resourcesImages/sol.png" alt="Sol">
    </button>
    <button class="div--icon--button" (click)="setThema('dark')">
      <img class="div--icon--img" src="../../../../assets/resourcesImages/luna.png" alt="Luna">
    </button>
  </div> 
</header>
<!-- Este código representa dos botones de imagen que permiten seleccionar entre los temas "light" y "dark". -->