<header class="body">
  <div class="header">
    <a class="header--logo" [routerLink]="['home']">
      <img class="logo" src="../../../../assets/logos/LogoGeneral.png" />
    </a>
    <div class="links">
      <ul class="links--list">
        <li class="links--list--url">
          <a *ngIf="isLogged" [routerLink]="['myAccount']">{{
            "HEADER.ACCOUNT" | translate
          }}</a>
        </li>
        <li class="links--list--url">
          <a *ngIf="isLogged" (click)="logout()">{{
            "HEADER.LOGOUT" | translate
          }}</a>
        </li>
        <li class="links--list--url">
          <a [routerLink]="['about']">{{ "HEADER.ABOUT" | translate }}</a>
        </li>
        <li class="links--list--url">
          <select
            #langSelect
            (change)="changeLang(langSelect.value)"
            class="select"
          >
            <option *ngFor="let lang of langs" [value]="lang" class="option">
              {{ lang === "es" ? "🇪🇸Español " : "🇬🇧English" }}
            </option>
          </select>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="div--icon">
    <button class="div--icon--button" (click)="setThema('light')">
      <img class="div--icon--img" src="../../../../assets/resourcesImages/sol.png" alt="Sol">
    </button>
    <button class="div--icon--button" (click)="setThema('dark')">
      <img class="div--icon--img" src="../../../../assets/resourcesImages/luna.png" alt="Luna">
    </button>
  </div> 
</header>
