<div class="card-notification">
    <div class="header">
        <div class="header__name"><p>{{ notification?.name }}</p></div>
        <div class="header__date"><p>{{ notification?.date }}</p></div>
    </div>

    <div class="body">
        <div class="body__msg">
            <p>{{ notification?.description }}</p>
        </div>

        <div *ngIf="notification?.calendar" class="image">
            <a target="_self" download="nameofFile" href="{{ notification?.calendar }}" ><img  src="{{ notification?.calendar }}" alt=""></a>
        </div>
    </div>
    

</div>

<!--Este HTML define la estructura de la página de notificaciones de la familia. La página se compone de una lista de notificaciones, que se muestra en la parte superior de la página, y un formulario de contacto, que se muestra en la parte inferior de la página. El formulario de contacto se muestra en un modal, que se abre cuando el usuario hace clic en el botón de contacto. El formulario de contacto recopila información del usuario y envía los datos a un servicio de formulario en línea. Incluye campos para el nombre, correo electrónico y mensaje del usuario, y utiliza etiquetas de traducción para mostrar el texto en varios idiomas. -->