@import '../../../../styles/base/colors.scss';
@import '../../../../styles/elements/form.scss';


.card-notification{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header{

    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;


    
    &__name{

        width: 90%;
        height: 50%;
        display: flex;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        align-items: center;

        
    }

    

    &__date{

  
        width: 90%;
        height: 50%;
        opacity: 0.8;
        

    }

}


    .body{
     height: 80%;
     display: flex;
     width: 90%;
     flex-direction: column;
     justify-content: space-between;

     &__button{
        display: flex;
        justify-content: flex-end;

     }


  &__button button{
    margin-bottom: 10px;
    @include botonVolver($colorgeneral); 
    border: 0;
  }



}


@media all and (max-width: 1280px){
    .header{

        margin-top: 40px;
    }
}