<div class="card-notification">
    <div class="header">
        <div class="header__name"><p>{{ notification?.name }}</p></div>
        <div class="header__date"><p>{{ notification?.date }}</p></div>
    </div>

    <div class="body">
        <div class="body__msg">
            <p>{{ notification?.description }}</p>
        </div>

        <div *ngIf="notification?.calendar" class="image">
            <a target="_self" download="nameofFile" href="{{ notification?.calendar }}" ><img  src="{{ notification?.calendar }}" alt=""></a>
        </div>
    </div>
    

</div>
