@import '../../../../styles/base/colors.scss';
@import '../../../../styles/elements/form.scss';
@import '../../../../styles/base/fonts.scss';


.card-notification{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header{

    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;


    
    &__name{

        width: 90%;
        height: 50%;
        display: flex;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        align-items: center;

        
    }

    

    &__date{

  
        width: 90%;
        height: 50%;
        opacity: 0.8;
        

    }

}


    .body{

     height: 70%;
     display: flex;
     width: 90%;
     flex-direction: column;
     justify-content: space-between;



}

.image {

    height: 30%;
    width: 100%;
}

.image img{

    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px black;
    cursor: pointer;
}




.body p{


    font-size: 18px;
}


@media all and (min-width: 500px) and (max-width: 1280px){
    .header{

        margin-top: 40px;
    }

}


@media all and (max-width: 500px) {

    .header{

        margin-top: 40px;
    }


}