<!-- <div class="container">
  <div class="home--buttons">
    <button class="home--buttons--button--teacher" (click)="goToTeachers()"> {{ "HOME.TEACHER" | translate }} </button>
  </div>
  <div class="home--buttons">
    <button class="home--buttons--button--family" (click)="goToFamilies()"> {{ "HOME.FAMILY" | translate }} </button>
    
  </div>
</div> -->


<div class="body">

  <div class="home-container">
   
   
    <div class="menu">
      <div class="login">

        <div>
          <h2>Bienvenido!</h2>
          <p> Nuesta Escuela infantil 'Semilla' se encuentra ubicada en la calle Wallaby, número 42, en el municipio de Sidney, dentro de la provincia de Invent.

            Con un total de 100 personas de alumnado en edades comprendidas entre 2 y 5 años, dividas en 4 clases.</p>
        </div>
        <div class="buttons">
          <button (click)="goToTeachers()" >{{ "HOME.TEACHER" | translate }}</button>
          <button (click)="goToFamilies()">{{ "HOME.FAMILY" | translate }}</button>
        </div>
      </div>
    </div>


    <div class="image"><img src="../../../../assets/imagesSlider/ClaseGeneral.jpeg" alt=""></div>

  



  </div>
  
</div>

<div class="overlay"></div>