
<div class="body">

  <div class="home-container">
   
   
    <div class="menu">
      <div class="login">

        <div>
          <h2>{{"LOGIN.OVERLAY.1" | translate}}</h2>
          <p> {{"ABOUTSLIDER.1.TEXT1" | translate}}</p>
        </div>
        <div class="buttons">
          <button (click)="goToTeachers()" >{{ "HOME.TEACHER" | translate }}</button>
          <button (click)="goToFamilies()">{{ "HOME.FAMILY" | translate }}</button>
        </div>
      </div>
    </div>


    <div class="image"><img src="../../../../assets/imagesSlider/ClaseGeneral.jpeg" alt=""></div>


  </div>
  
</div>

<div class="overlay"></div>

<!-- El código muestra una sección de la página de inicio que contiene un contenedor con un menú y opciones de inicio de sesión para "profesores" o "familias". Además, hay una imagen en el centro del contenedor. La vista también incluye un overlay semitransparente. Se utiliza la función translate() para mostrar algunos textos mediante cadenas previamente definidas en algún archivo de idioma.-->