@import '../../../styles/base/colors.scss';
@import '../../../styles/base/fonts.scss';
@import '../../../styles/elements/form.scss';


.title_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.resources-title {
  font-family: coloring;
  align-content: center;
  font-size: 32px;
  font-weight: bold;
}

.resources-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin-bottom: 50px;
}

.resources-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
  margin-bottom: 30px;
}

.resource-card {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    transform: translateY(-4px);
    border-color: $colorfamilias;
    box-shadow: 0 4px 6px rgba($colorfamilias, 0.4);
  }

  @media (min-width: 768px) {
    width: calc(50% - 32px);
  }

  @media (min-width: 992px) {
    width: calc(33.333% - 32px);
  }
}

.resource-image {
  height: auto;
  border-radius: 4px;
  margin-bottom: 16px;
}

.resource-card__title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 8px;
}

.boton-volver {
  @include botonVolver($colorgeneral); 
} 