<div
  *ngIf="loginForm"
  [ngClass]="{ 'container': !teacher, 'container right-panel-active': teacher }"
>
  <div class="form-container sign-up-container">
    <a href=""> < </a>
    <form (ngSubmit)="userLogin()" [formGroup]="loginForm" action="#">
      <h1>Acceso Profesorado</h1>
      <span>Introduce Email y contraseña</span>
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
        required
      />
      <a href="#">Olvidaste tu contraseña?</a>
      <div>
        <button>Acceder</button>
        <button (click)="router.navigate(['/home'])">atras</button>
      </div>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form (ngSubmit)="userLogin()" [formGroup]="loginForm" action="#">
      <h1>Acceso Familias</h1>
      <span>Introduce el email y la contraseña</span>
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
        required
      />
      <a href="#">Olvidaste tu contraseña?</a>
      <div>
        <button>Acceder</button>
        <button (click)="router.navigate(['/home'])">atras</button>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bienvenido!</h1>
        <p>Eres tutor o un familiar?</p>
        <button (click)="isFamily()" class="ghost" id="signIn">
          Acceso Familias
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Bienvenido</h1>
        <p>Perteneces al profesorado?</p>
        <button (click)="isFamily()" class="ghost" id="signUp">
          Acceso Profesorado
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="loginForm" id="main-wrapper" class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="mb-5">
                  <h3 class="h4 font-weight-bold text-theme">{{teacher ? 'Acceso Profesorado' : 'Acceso Familias'}}</h3>
                </div>

                <h6 class="h5 mb-0">Bienvenido</h6>
                <p class="text-muted mt-2 mb-5">
                  Introduce tu correo y contraseña para acceder
                </p>

                <form
                (ngSubmit)="userLogin()"
                [formGroup]="loginForm"
                >
                  <div class="form-group">
                    <label for="exampleInputEmail1">Correo</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      formControlName="email"
                      required
                    />
                  </div>
                  <div class="form-group mb-5">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      formControlName="password"
                      required
                    />
                  </div>
                  <button
                  class="btn btn-theme">Acceder</button>
                  <a (click)="isFamily()" class="forgot-link float-right text-primary"
                    >{{teacher ? 'Eres un familiar?' : 'Eres maestro?'}}</a>
                </form>
              </div>
            </div>

            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                <div class="overlay rounded-right"></div>
                <div class="account-testimonial">
                  <h4 class="text-white mb-4">This beautiful theme yours!</h4>
                  <p class="lead text-white">
                    "Best investment i made for a long time. Can only recommend
                    it for other users."
                  </p>
                  <p>- Admin User</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div> -->
