html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.header{

  position: relative;
  z-index: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

/* Este código  define el cuerpo de la página , se ajusta a una altura del 100% y no se aplica margen ni relleno. La cabecera tiene una posición establecida como relativa con un índice z de 0. El contenedor de la aplicación utiliza una disposición flexible que permite el diseño en columnas, con una altura mínima del 100%. Finalmente, el contenido ocupa un espacio flexible en este diseño en columnas. */ 