<div class="app-container">
    <app-header class="header" *ngIf="!_router.url.includes('login') && !_router.url.includes('register') "></app-header>
    <app-loading></app-loading>
    <app-scroll-to-top></app-scroll-to-top>
    <app-modal></app-modal>
    <main class="content">
      <router-outlet ></router-outlet>
    </main>
    <app-footer *ngIf="!_router.url.includes('login')"></app-footer>
</div>
  
<!--Este código representa una página web con un encabezado, una sección principal y un pie de página. También incluye elementos adicionales como un icono para desplazarse hacia arriba (app-scroll-to-top) y modal cuando sea necesario (app-modal). Utiliza el enrutador angular (_router) para asegurarse de que algunos componentes sólo sean visibles en ciertas URL. Además, hay un componente adicional llamado app-loading que aparece mientras la sección principal aún no ha terminado de cargarse completamente. -->