@import "../../../styles/base/colors.scss";
@import "../../../styles/base/fonts.scss";
@import "../../../styles/elements/form.scss";
label{
    text-align: center;
    color: black;
}
.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.btn-select {
  background-color: darkgrey;
  width: 150px;
  height: 43px;
  font-size: 17px;
  margin: 0px 4px;
  border: 0;
  border-radius: 4%;
  color: white;
  margin-bottom: 10px;
  transition: 0.5s;
}

.btn-select:hover {
  background-color: $colorprofesores;
}

.btn-active {
  background-color: $colorprofesores;
  border: 0;
  transition: 0.5s;
  outline: none;
}

.form-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: $colorgeneral;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.form-button:hover {
  background-color: darken($colorgeneral, 10%);
}
.student,
.parent,
.teacher {
  background-color: darkgrey;
  max-width: 600px;
  width: 450px;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $colorgeneral;
    border-radius: 5px;
  }
}
.errors {
  color: red;
  font-size: 12px;
  margin: 0;
}
@media all and (max-width: 480px) {
  .btn-select {
    width: 90px;
    height: 40px;
    font-size: 12px;
  }
  .parent, .teacher, .student{
    width: 300px;
  }
}
