<div class="body">
  <div [ngClass]="{'selected': typeUser !== undefined}">
    <button
      (click)="setTypeUserForm('student')"
      class="btn-select"
      [ngClass]="{ 'btn-active': typeUser === 'student' }"
    >
      Estudiante
    </button>
    <button
      (click)="setTypeUserForm('parent')"
      class="btn-select"
      [ngClass]="{ 'btn-active': typeUser === 'parent' }"
    >
      Padre/Madre
    </button>
    <button
      (click)="setTypeUserForm('teacher')"
      class="btn-select"
      [ngClass]="{ 'btn-active': typeUser === 'teacher' }"
    >
      Profesor
    </button>
  </div>

  <form
    class="form"
    *ngIf="formType"
    [formGroup]="formType"
    (ngSubmit)="onSubmit()"
  >
    <div *ngIf="typeUser === 'student'" class="student">
      <input
        placeholder="Nombre"
        type="text"
        id="name"
        formControlName="name"
      />
      <p
      class="errors"
      *ngIf="formType.get('name')?.dirty && formType.get('name')?.errors?.['required']"
    >
      El nombre es requerido
    </p>
      <label for="">
        Foto
        <input
          accept=".jpg,.png"
          placeholder="Foto"
          type="file"
          id="image"
          formControlName="image"
          (change)="uploadImage($event)"
        />
        <p
        class="errors"
        *ngIf="formType.get('image')?.dirty && formType.get('image')?.errors?.['required']"
      >
        La foto es requerida
      </p>
      </label>

      <input
        placeholder="Telefono"
        type="text"
        id="phone"
        formControlName="phone"
      />
      <p
      class="errors"
      *ngIf="formType.get('phone')?.dirty && formType.get('phone')?.errors?.['required']"
    >
      El teléfono es requerido
    </p>
      <input
        placeholder="Direccion"
        type="text"
        id="address"
        formControlName="address"
      />
      <p
      class="errors"
      *ngIf="formType.get('address')?.dirty && formType.get('address')?.errors?.['required']"
    >
      La direccion es requerida
    </p>
      <input type="date" id="date" formControlName="date" />

      <div formArrayName="areas" class="checkbox">
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 1"
            (change)="onCheckboxChange($event)"
          />
          Area 1
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 2"
            (change)="onCheckboxChange($event)"
          />
          Area 2
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 3"
            (change)="onCheckboxChange($event)"
          />
          Area 3
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 4"
            (change)="onCheckboxChange($event)"
          />
          Area 4
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 5"
            (change)="onCheckboxChange($event)"
          />
          Area 5
        </label>
      </div>

      <input
        placeholder="Enfermedades/Alergias"
        type="text"
        id="diseases"
        formControlName="diseases"
      />
      <p
      class="errors"
      *ngIf="formType.get('diseases')?.dirty && formType.get('diseases')?.errors?.['required']"
    >
      Campo requerido
    </p>
      <input
        placeholder="Dieta/Alimentacion"
        type="text"
        id="nutrition"
        formControlName="nutrition"
      />
      <p
      class="errors"
      *ngIf="formType.get('nutrition')?.dirty && formType.get('nutrition')?.errors?.['required']"
    >
      Campo requerido
    </p>
      <label for="">
        Curso
        <div>
          <label>
            1ºA
            <input value="1ºA" type="radio" formControlName="grade" />
          </label>
          <label>
            2ºA
            <input value="2ºA" type="radio" formControlName="grade" />
          </label>
          <label>
            3ºA
            <input value="3ºA" type="radio" formControlName="grade" />
          </label>
        </div>
      </label>
    </div>

    <div class="parent" *ngIf="typeUser === 'parent'">
      <input
        placeholder="Email"
        type="email"
        id="email"
        formControlName="email"
      />

      <input
        placeholder="Contraseña"
        type="password"
        id="password"
        formControlName="password"
      />

      <select id="studentName" (change)="onSelectChild($event)">
        <option *ngFor="let student of students" [value]="student._id">
          {{ student.name }}
        </option>
      </select>
    </div>

    <div class="teacher" *ngIf="typeUser === 'teacher'">
      <input
        placeholder="Email"
        type="email"
        id="email"
        formControlName="email"
      />

      <input
        placeholder="Contraseña"
        type="password"
        id="password"
        formControlName="password"
      />

      <input
        placeholder="Nombre"
        type="text"
        id="name"
        formControlName="name"
      />

      <input
        placeholder="Telefono"
        type="text"
        id="phone"
        formControlName="phone"
      />

      <input
        placeholder="Dni"
        type="text"
        id="idCard"
        formControlName="idCard"
      />

      <label for="">
        Curso
        <div>
          <label>
            1ºA
            <input value="1ºA" type="radio" formControlName="grade" />
          </label>
          <label>
            2ºA
            <input value="2ºA" type="radio" formControlName="grade" />
          </label>
          <label>
            3ºA
            <input value="3ºA" type="radio" formControlName="grade" />
          </label>
        </div>
      </label>
    </div>

    <button class="form-button" type="submit">
      Enviar
    </button>
  </form>
</div>

