<div class="body">
  <div class="buttons">
    <button
      (click)="setTypeUserForm('student')"
      class="btn-select"
      [ngClass]="{ 'btn-active': typeUser == 'student' }"
    >
      Estudiante
    </button>
    <button
      (click)="setTypeUserForm('parent')"
      class="btn-select"
      [ngClass]="{ 'btn-active': typeUser == 'parent' }"
    >
      Padre/Madre
    </button>
    <button
      (click)="setTypeUserForm('teacher')"
      class="btn-select"
      [ngClass]="{ 'btn-active': typeUser == 'teacher' }"
    >
      Profesor
    </button>
  </div>

  <form
    class="form"
    *ngIf="formType"
    [formGroup]="formType"
    (ngSubmit)="onSubmit()"
  >
    <div *ngIf="typeUser === 'student'">
      <input
        placeholder="Nombre"
        type="text"
        id="name"
        formControlName="name"
      />

      <input
        placeholder="Foto"
        type="text"
        id="image"
        formControlName="image"
      />

      <input
        placeholder="Telefono"
        type="text"
        id="phone"
        formControlName="phone"
      />

      <input
        placeholder="Direccion"
        type="text"
        id="address"
        formControlName="address"
      />

      <input type="date" id="date" formControlName="date" />

      <div formArrayName="areas" class="checkbox">
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 1"
            (change)="onCheckboxChange($event)"
          />
          Area 1
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 2"
            (change)="onCheckboxChange($event)"
          />
          Area 2
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 3"
            (change)="onCheckboxChange($event)"
          />
          Area 3
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 4"
            (change)="onCheckboxChange($event)"
          />
          Area 4
        </label>
        <label>
          <input
            type="checkbox"
            name="areas"
            value="Area 5"
            (change)="onCheckboxChange($event)"
          />
          Area 5
        </label>
      </div>

      <input
        placeholder="Enfermedades/Alergias"
        type="text"
        id="diseases"
        formControlName="diseases"
      />

      <input
        placeholder="Dieta/Alimentacion"
        type="text"
        id="nutrition"
        formControlName="nutrition"
      />

      <div>
        <label>
          1ºA
          <input value="1ºA" type="radio" formControlName="grade" />
        </label>

        <label>
          2ºA
          <input value="2ºA" type="radio" formControlName="grade" />
        </label>

        <label>
          3ºA
          <input value="3ºA" type="radio" formControlName="grade" />
        </label>
      </div>
    </div>

    <div *ngIf="typeUser === 'parent'">
      <input
        placeholder="Email"
        type="email"
        id="email"
        formControlName="email"
      />

      <input
        placeholder="Contraseña"
        type="password"
        id="password"
        formControlName="password"
      />

      <select id="studentName" (click)="onSelectChild($event)">
        <option *ngFor="let student of students" [value]="student._id">
          {{ student.name }}
        </option>
      </select>
    </div>

    <div *ngIf="typeUser === 'teacher'">
      <input
        placeholder="Email"
        type="email"
        id="email"
        formControlName="email"
      />

      <input
        placeholder="Contraseña"
        type="password"
        id="password"
        formControlName="password"
      />

      <input
        placeholder="Nombre"
        type="text"
        id="name"
        formControlName="name"
      />

      <input
        placeholder="Telefono"
        type="text"
        id="phone"
        formControlName="phone"
      />

      <input
        placeholder="IDCard"
        type="text"
        id="idCard"
        formControlName="idCard"
      />

      <input
        placeholder="Grado"
        type="text"
        id="grade"
        formControlName="grade"
      />
    </div>

    <button type="submit">Enviar</button>
  </form>
</div>
