@import "../../../styles/base/colors.scss";
@import "../../../styles/base/fonts.scss";
@import "../../../styles/elements/form.scss";
.body {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: $colorfamilias;
    font-weight: bold;
    font-family: "Coloring";
    font-size: 25px;
  }
}
.container {
  display: flex;
  justify-content: center;
}
.row1{
  width: 54%;
  margin: 3%;
}
.card {
  width: 100%;
  text-align: center;
  height: 28vh;
  align-items: center;
  padding: 1rem;
  border: 1px solid $colorfamilias;
  border-radius: 10px;
  margin-bottom: 4%;
  &--div{
    display:flex;
    justify-content: center;
  }
  &--title {
    font-family: "Coloring";
    color: $colorfamilias;
    font-size: 18px;
    font-weight: bold;
  }
  &--img {
    width: 20%;
    justify-content: center;
  }
  &--body {
    border: 1px solid $colorfamilias;
    border-radius: 10px;
    padding: 1rem;
    width: 60%;
    overflow: hidden;
    &--title {
      color: $colorfamilias;
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &--text {
      font-size: 12px;
      font-weight: bold;
      line-height: 0.5;
      padding: 0;
      margin: 10px;
      }
    }
  }
.calendar {
  width: 100%;
  overflow: hidden;
  height: 28vh;
  align-items: center;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border: 1px solid $colorfamilias;
  border-radius: 10px;
  &--text {
    font-family: "Coloring";
    color: $colorfamilias;
    font-size: 18px;
    font-weight: bold;
  }
  &--div {
    justify-content: center;
    &--i {
      width: 100%;
    }
  }
}
.chat-card{

  height: 59vh;
  background-image: url("https://i.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg");
  z-index: 9999;
  background-size: cover;
  margin-top: 4vh;
}

.chat-header{

  height: 10%;
  background-color: $colorfamilias;
  justify-content: center;
  display: flex;
  font-size: 12px;

  p{

    margin-top: 6px;
    color: white;
  }
}

.chat-body{
height: 70%;
overflow-y: scroll;
display: flex;
flex-direction: column;
}

.chat-input{
  
  height: 20%;
  width: 100%;
}

.form{
  height: 100%;
  display: flex;
}

.text-msg{

  width: 80%;
  
 
}

.text-msg input{
  background-color: $colorfamilias;
  color: white;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 10px;
 
}

input::placeholder {
  color: #ffffff; 
  font-size: 13px;
  margin-left: 10px;
}

.button-send{

  width: 20%;
  background-color: $colorfamilias;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.button-send input{

width: 40px;
}




.local {
  padding: 20px;
  margin-top: 4px;
  margin-left: 5px;
  border-radius: 10px;
  text-overflow: ellipsis;
  background-color: $colorprofesores;
  width: auto; 
  max-width: 70%; 
  color: white;
  align-self: flex-start;
  word-wrap: break-word;
  display: inline-block; 
}

  .remoto {
    padding: 20px;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 10px;
    text-overflow: ellipsis;
    background-color: $colorfamilias;
    width: auto; 
    max-width: 70%; 
    color: white;
    align-self: flex-end;
    word-wrap: break-word;
    display: inline-block; 
    
  }

@media all and (max-width: 1024px) {
  .container{
    flex-direction: column;
    margin: auto;
  }
  .row1{
    width: 100%;
    justify-content: center;
  }
  .card .calendar{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card--div{
    flex-direction: column;
    margin: auto;
  }
  .card--img{
    display: none;
  }
  .card--body{
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .chat-card{
    width: 100%;
    justify-content: center;
    margin: 5%;
  }
}
