@import "../../../styles/base/colors.scss";
@import "../../../styles/base/fonts.scss";
@import "../../../styles/elements/form.scss";
.body{
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: $colorfamilias;
    font-weight: bold;
    font-family: "Coloring";
    font-size: 25px;
  }
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}
.card{
  width: 48%;
  text-align: center;
  height: 20%;
  align-items: center;
  padding: 1rem;
  border: 1px solid $colorfamilias;
    border-radius: 10px;
  &--title{
    font-family: "Coloring";
    color: $colorfamilias;
    font-size: 18px;
    font-weight: bold;
  }
  &--img{
    width: 30%;
    justify-content: center;

  }
  &--body{
    border: 1px solid $colorfamilias;
    border-radius: 10px;
    padding: 1rem;
    &--title{
      color: $colorfamilias;
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &--text{
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.calendar{
  width: 48%;
  overflow: hidden;
  height: 20%;
  align-items: center;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border: 1px solid $colorfamilias;
    border-radius: 10px;
  &--text{
    font-family: "Coloring";
    color: $colorfamilias;
    font-size: 18px;
    font-weight: bold;
  }
  &--div{
    justify-content: center;
    &--i{
      width: 100%;

    }
  }
}
.chat{
  width: 96%;
  justify-content: center;
  height: 20%;
  border: 1px solid $colorfamilias;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.chatContainer {
  border-radius: 20px;
  background: #eaf9ff;
  padding: 30px 30px 0px 30px;
  width: 30%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: -200px;
  z-index: 10000;
}
.local {
  padding: 20px;
  border-radius: 20px;
  background-color: darkcyan;
  max-width: 80%;
  color: white;
  align-self: flex-start;
}
.remoto {
  padding: 20px;
  border-radius: 20px;
  background-color: darkkhaki;
  max-width: 80%;
  color: white;
  align-self: flex-end;
}
.inputContainer {
  
  bottom: 0;
  width: 100%;
  padding: 10px;
  input {
    width: 40%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  button {
    width: 20%;
  }
}
.boton-volver {
  border: 0;
  @include botonVolver($colorgeneral);
  margin-bottom: 30px;
  margin-top: 10px;
}