.chatContainer{
    padding: 30px;
    width: 100%;
    height: max-content;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    background-color: ghostwhite;
}
.local{
    padding: 20px;
    border-radius: 20px;
    background-color: darkcyan;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-start;
}
.remoto{
    padding: 20px;
    border-radius: 20px;
    background-color: darkkhaki;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-end;
}
.inputContainer{
    background-color: ghostwhite;
    bottom: 0;
    width: 100%;
    padding: 10px;
    input{
        width: 100%;
    }
}