<div class="page">
  <div class="intro-div">
    <h1 class="title">{{ "ENGLISHACTIVITIES.TITLE" | translate }}</h1>
    <div class="image-container">
      <img src="../../../../assets/resourcesImages/ingles.png" alt="Imagen de inglés">
    </div>
    <p class="description">{{ "ENGLISHACTIVITIES.INTRO1" | translate }}</p>
    <p class="description">{{ "ENGLISHACTIVITIES.INTRO2" | translate }}</p>
    <div class="boton-volver-resources">
      <a routerLink="/resources" class="boton-volver">{{ "ENGLISHACTIVITIES.BACKBUTTON" | translate }}</a>
    </div>
  </div>
  <div class="activities-container">
    <div class="card-container" *ngFor="let activity of englishActivities">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">{{activity.title}}</h2>
        </div>
        <div class="card-image">
          <img [src]="activity.link" alt="{{activity.title}}">
        </div>
        <div class="card-description">
          <p>{{activity.description}}</p>
        </div>
        <button class="download-button" (click)="seeImage(activity.link)">{{ "ENGLISHACTIVITIES.VIEWBUTTON" | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- El código  muestra una lista de actividades en inglés. La página tiene dos secciones principales: una introducción que contiene un título, una imagen y dos párrafos descriptivos, y una sección de actividades que muestra una lista de tarjetas de actividad. Cada tarjeta contiene un título, una imagen, una descripción y un botón para ver la imagen. El código utiliza Angular y la función de traducción para mostrar los textos en diferentes idiomas.-->