@import '../../../../styles/base/colors.scss';
@import '../../../../styles/elements/form.scss';

.boton-volver-resources{
  display: flex;
  justify-content: center;
}
.boton-volver {
  @include botonVolver($colorgeneral);
  margin-bottom: 30px;
  margin-top: 10px;
}

.body{
display: flex;
justify-content: center;
margin-bottom: 30px;
   
}


.cards-book{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 90%;
    

}
