<div class="page">
  <div class="intro_div">
    <h1 class="title">Cuentos</h1>
    <div class="image-container">
      <img src="../../../../assets/resourcesImages/cuento.png" alt="Imagen de cuentos">
    </div>
    <p class="description">
    En esta sección encontrarás una selección de cuentos que leemos en clase. Estos cuentos están especialmente seleccionados para que los niños puedan disfrutarlos y aprender al mismo tiempo. Son una excelente herramienta para fomentar la imaginación y el amor por la lectura desde temprana edad.
    </p>
    <p class="description">¡Esperamos que disfruten de estos cuentos y los compartan juntos en casa!</p>
  </div>
  <div class="boton-volver-resources">
    <a routerLink="/resources" class="boton-volver">Volver</a>
  </div>
  <div class="body">
    <div class="cards-book">
      <app-book *ngFor="let book of books" [books]="book"></app-book>
    </div>
  </div>
</div>

<!--Este es un código HTML  que define la estructura visual y funcional de la página  dedicada a la lectura de cuentos. La página está dividida en tres secciones principales: una introducción que explica el propósito de la sección de cuentos, un botón para volver atrás y una sección principal (div class="body") que contiene una lista de tarjetas de libro (div class="cards-book") que se generan mediante una plantilla de Angular (*ngFor="let book of books" [books]="book"), que muestra los distintos cuentos disponibles. -->
