@import "../../../styles/base/colors.scss";
@import "../../../styles/base/fonts.scss";
@import "../../../styles/elements/form.scss";

.mi-cuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.teacher {
  font-family: "Coloring";
  color: $colorprofesores;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.parent {
  font-family: "Coloring";
  color: $colorfamilias;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.image-and-dates {
  display: flex;
  align-items: center;
}

.image_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.image {
  position: absolute;
  z-index: 2;
}

.image_div:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 120px;
  background-color: $colorprofesores;
  animation: intermitente 1.5s infinite alternate;
  opacity: 0.5;
}

@keyframes intermitente {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  font-size: 18px;

  p {
    margin: 5px;
  }
}

.boton-volver {
  @include botonVolver($colorgeneral);
}

/* El código tiene un conjunto de estilos SCSS para una sección llamada "mi-cuenta". Incluye importaciones de otros archivos SCSS relacionados con colores, fuentes y formularios. El estilo utiliza display flex, dirección de columna y propiedades relacionadas para centrar los elementos en la pantalla, agregar sombra y bordes redondeados al contenedor principal.

Hay estilos específicos para tipos diferentes de usuarios ("profesor" y "familia"), con tamaños de fuente, pesos y colores específicos. También incluye estilos para una imagen circular que parpadea en el fondo (para usuarios "profesor") usando animación CSS keyframes.

Finalmente, hay una clase auxiliar incluida 'boton-volver' que hace uso del mixin 'botonVolver' definido anteriormente en uno de los archivos importados. */