<div class="modalBackground" *ngIf="shouldShowModal">
  <div class="modalContainer">
    <div class="bodyModal">{{ modalMessage }}</div>
    <div class="footerModal">
      <button (click)="confirm(true)">Exit</button>
      <button (click)="confirm(false)">Continue</button>
    </div>
  </div>
</div>
<!-- un elemento HTML div que funciona como modal, y su visibilidad está controlada por la variable shouldShowModal. Dentro del modal, hay un contenedor (modalContainer) que contiene un mensaje (bodyModal) y dos botones (footerModal), uno para confirmar y otro para cancelar. Cuando se hace clic en alguno de los botones, se llama a la función confirm con un valor booleano que indica si se ha confirmado o no. -->