<footer class="body">
  <div class="footer">
    <div class="footericons">
      <div class="footericons--div">
        <p>Beatriz Palomo</p>
        <a class="footericons--icon" href="https://github.com/beapdp"
          ><i class="fa fa-github"></i
        ></a>
      </div>
      <div class="footericons--div">
        <p>Jerry González</p>
        <a class="footericons--icon" href="https://github.com/G3rars"
          ><i class="fa fa-github"></i
        ></a>
      </div>
      <div class="footericons--div">
        <p>Jonathan Torres</p>
        <a class="footericons--icon" href="https://github.com/torresmald"
          ><i class="fa fa-github"></i
        ></a>
      </div>
      <div class="footericons--div">
        <p>José Luis González</p>
        <a class="footericons--icon" href="https://github.com/josegs72"><i class="fa fa-github"></i></a>
      </div>
      <div class="footericons--div">
        <p>Macu Mota</p>
        <a class="footericons--icon" href="https://github.com/macumota"
          ><i class="fa fa-github"></i
        ></a>
      </div>
    </div>

    <div class="links">
      <ul class="linkslist">
        <li class="linkslist--url"><a href="#">Inicio</a></li>
        <li class="linkslist--url"><a href="#">Politicas de privacidad</a></li>
        <li class="linkslist--url"><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="copy">Copyright © 2023 - All rights reserved</div>
  </div>
</footer>
