<footer class="body">
  <div class="footer">
    <div class="footer--div">
      <div class="footer--div--person">
        <p class="footer--div--person--text">Beatriz Palomo</p>
        <div class="footer--div--person--icons">
          <a class="footer--div--person--icons--icon" href="https://github.com/beapdp"><span class="fa fa-github"></span></a>
          <a class="footer--div--person--icons--icon" href="https://www.linkedin.com/in/beatriz-palomo-delpozo/"
            ><span class="fa fa-linkedin"></span
          ></a>
        </div>
      </div>
      <div class="footer--div--person">
        <p class="footer--div--person--text">Jerry González</p>
        <div class="footer--div--person--icons">
          <a  class="footer--div--person--icons--icon" href="https://github.com/G3rars"
            ><span class="fa fa-github"></span
          ></a>
          <a  class="footer--div--person--icons--icon" href="https://www.linkedin.com/in/jerrygerardo/"
            ><span class="fa fa-linkedin"></span
          ></a>
        </div>
      </div>
      <div class="footer--div--person">
        <p class="footer--div--person--text">Jonathan Torres</p>
        <div class="footer--div--person--icons">
          <a  class="footer--div--person--icons--icon" href="https://github.com/torresmald"
            ><span class="fa fa-github"></span
          ></a>
          <a  class="footer--div--person--icons--icon" href="https://www.linkedin.com/in/torresmald/"
            ><span class="fa fa-linkedin"></span
          ></a>
        </div>
      </div>
      <div class="footer--div--person">
        <p class="footer--div--person--text">José Luis González</p>
        <div class="footer--div--person--icons">
          <a  class="footer--div--person--icons--icon" href="https://github.com/josegs72"
            ><span class="fa fa-github"></span
          ></a>
          <a  class="footer--div--person--icons--icon"href="https://www.linkedin.com/in/jose-luis-gonzalez-serrano/"
            ><span class="fa fa-linkedin"></span
          ></a>
        </div>
      </div>
      <div class="footer--div--person">
        <p class="footer--div--person--text">Macu Mota</p>
        <div class="footer--div--person--icons">
          <a  class="footer--div--person--icons--icon" href="https://github.com/macumota"
            ><span class="fa fa-github"></span
          ></a>
          <a class="footer--div--person--icons--icon" href="https://www.linkedin.com/in/macumota/"
            ><span class="fa fa-linkedin"></span
          ></a>
        </div>
      </div>
    </div>

    <div class="footer--links">
      <ul class="footer--links--list">
        <li class="footer--links--list--url"><a href="/home">{{'FOOTER.HOME' | translate}}</a></li>
        <li class="footer--links--list--url"><a href="/privacity">{{'FOOTER.PRIVACY' | translate}}</a></li>
        <li class="footer--links--list--url"><a href="/contact">{{'FOOTER.CONTACT' | translate}}</a></li>
      </ul>
    </div>
  </div>
</footer>
