
.body{

    position: absolute;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: in 1.5s ease infinite alternate;
    animation-duration: 2s;
    
}

.cardAlert{
    
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6%;
    box-shadow: 0px 0px 10px rgb(139, 139, 139);
    
    &__img{
        width: 40%;
    }
    &__img img{
        width: 100%;
        opacity: 0.8;
    }
}

.title p {

    color: rgb(226, 29, 29);
     font-weight: 900;
     font-size: 30px;
     opacity: 0.7;
     margin-bottom: unset;
}

.title2 p {

     color: rgb(0, 169, 3);
     font-weight: 900;
     font-size: 30px;
     opacity: 0.7;
     margin-bottom: unset;
}

.msg{
    max-width: 260px;
    color: grey;
    font-size: 25px;
    text-align: center;
    padding: 3vh 0;
    font-weight: lighter;
}


@keyframes in {
    0% {
        transform: translatey(-140%);
    }

    100% {
        transform: translatey(20%);
    }


    
}

