
@import '../../../../styles/base/colors.scss';
@import '../../../../styles/base/fonts.scss';
@import '../../../../styles/elements/form.scss';

.boton-volver-resources{
  display: flex;
  justify-content: center;
}
.boton-volver {
  border: 0;
  @include botonVolver($colorgeneral);
  margin-bottom: 30px;
  margin-top: 10px;
}

.songs-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px;
  margin-bottom: 50px;
}

.songs-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.section-title {
  font-size: 20px;
  font-family: coloring;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: $colorfamilias;
}

.section-description {
  font-size: 15px;
  text-align: center;
  max-width: 800px;
  margin-bottom: 32px;
  line-height: 1.5;
  color: rgb(83, 75, 75);
}

.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
  border: 1px solid $colorfamilias;
}

.song-title {
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(28, 97, 28)

}

.song-video {
  width: 100%;
  height: auto;
  max-width: 560px;
}

.song-description {
  width: 100%;
  background-color: rgb(255, 250, 241);
  color: rgb(129, 123, 123);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  height: 100px;
}

@media (min-width: 768px) {
  .song-container {
    width: calc(50% - 32px);
  }
  .section-title{
    font-size: 36px;
  }
  .section-description {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
    .song-container {
        width: calc(33.333% - 32px);
      }
    }
    

