@import '../base/colors.scss';
@import '../base/fonts.scss';
@import '../elements/form.scss';

.boton-volver-resources{
  display: flex;
  justify-content: center;
}
.boton-volver {
  @include botonVolver($colorgeneral);
  margin-bottom: 30px;
  margin-top: 10px;
}

.page {
  margin-bottom: 40px;
  
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.title {
  font-family: coloring;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $colorfamilias;
  text-align: center;
}

.image-container {
  margin-top: 20px;
}

.description {
  font-size: 15px;
  text-align: center;
  max-width: 800px;
  margin-bottom: 32px;
  line-height: 1.5;
  color: rgb(83, 75, 75);
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content:space-around;
}

.card-container{
  border: 1px solid $colorfamilias;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card-header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  height: 100px;
  border-radius: 5px;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgb(28, 97, 28)
}

.card-image {
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  width: 100%;
  background-color: rgb(255, 245, 227);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  height: 100px;
}

.download-button {
  background-color: $colorfamilias;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken($colorfamilias, 10%);
  }
}

@media (min-width: 768px) {
  .card-container {
    width: calc(50% - 32px);
  }
  .title{
    font-size: 36px;
  }
  .description{
    font-size: 18px;
  }
}

@media (min-width: 992px) {
    .card-container {
        width: calc(33.333% - 32px);
      }
    }