@use "./styles/theme/variables.scss" as *;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    background-color: var(--bg-color);
    color: var(--font-color-main, #666);
    overflow-x: hidden;
}

p {
    color: var(--font-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color-main);
}

span {
    color: var(--font-color-sub);
}

.card {
    background-color: var(--bg-color-card) !important;
    color: var(--font-color-sub) !important;
}

/* El código define variables de estilo en un archivo .scss y las importa con la directiva @use. Luego establece algunas reglas de estilo para el cuerpo, párrafos, encabezados y tarjetas, utilizando las variables definidas previamente. Establece algunos colores personalizados a través del uso de variables CSS básicas (como --bg-color y --font-color-main). Además utiliza la propiedad !important para anular cualquier otra definición que se haya aplicado a los elementos HTML seleccionados. */