:root,
 :root.light {
    --bg-color: white;
    --font-size-txt: 1em;
    --font-size-h1: 2em;
    --bg-color-sections: #009688;
    // --font-color-sub: rgba(0, 0, 0, .54);
    // --font-color-main: #000;
    --bg-color-card: #fff;
}

:root.dark {
    --bg-color: #242424;
    --font-size-txt: 1em;
    --font-size-h1: 2em;
    --bg-color-sections: 19a093;
    // --font-color-sub: rgba(255, 255, 255, .54);
    // --font-color-main: #fff;
    --bg-color-card: #0c0c0cab;
}