<div class="student-detail">
    <div class="student-detail__image">
        <img [src]="student?.image" alt="Foto del alumno" height="100">
    </div>
    <div class="student-detail__info">
        <h4> {{ "MYSTUDENTDETAIL.NAME" | translate}}: {{student?.name}}</h4>
        <p> {{ "MYSTUDENTDETAIL.ADRESS" | translate}}:{{student?.address}}</p>
        <p> {{ "MYSTUDENTDETAIL.PHONE" | translate}}: {{student?.phone}}</p>
        <p>{{ "MYSTUDENTDETAIL.YEAR" | translate}}: {{student?.date}}</p>
        <p>{{ "MYSTUDENTDETAIL.CLASS" | translate}}: {{student?.grade}}</p>
        <p>{{ "MYSTUDENTDETAIL.ALLERGIES" | translate}}: {{student?.nutrition}}</p>
        <p>{{ "MYSTUDENTDETAIL.MEDICATIONS" | translate}}: {{student?.diseases}}</p>
        <p>{{ "MYSTUDENTDETAIL.AREAS" | translate}}: {{student?.areas}}</p>
        <div class="" *ngFor="let tutor of tutors">
        <p class="name">{{ "MYSTUDENTDETAIL.EMAIL" | translate}}: {{ tutor.email}}</p>
     
</div>
<div class="boton-student-detail">
    <a routerLink="/students" class="boton-volver">{{ "MYSTUDENTDETAIL.RETURN" | translate}}</a>
</div>
<div  class="boton-student-detail">
    <button class="boton-student-detail-download" (click)="generatePDF(student)">{{ "MYSTUDENTDETAIL.DOWNLOAD" | translate}}</button>
</div>

</div>

<!--El código se utiliza para mostrar información sobre un estudiante, como su nombre, dirección, teléfono, año escolar, alergias y medicamentos. La plantilla usa traducciones i18n para proporcionar el contenido en diferentes idiomas. Además de la información del estudiante, también hay una lista de tutores asociados con ese estudiante. También se incluyen botones para volver a la página de estudiantes y descargar un archivo PDF generado dinámicamente relacionado con el alumno actual mediante la invocación del método "generatePDF".-->