:host {
    position: fixed;
    top: 0;
    left: 0;
}
.loader {
    transform: translate(-50%, -50%);
    border: 20px solid rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left-color: blue;
    animation: spin 1s ease infinite;
    opacity: 0.8;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  /* Este código define estilos CSS para el componente Loading.

:host se refiere al componente en sí mismo, y en este caso se utiliza para definir que el componente debe tener una posición fija en la pantalla.

.loader se refiere a la animación del loader. Este se define como un círculo que gira continuamente en la pantalla y tiene una opacidad de 0.8. Se utiliza border para definir el ancho del círculo y su color, y se especifica la dirección en la que gira mediante animation y @keyframes.

En resumen, este código se encarga de definir la apariencia y la animación del componente Loading.*/