:host {
    position: fixed;
    top: 0;
    left: 0;
}
.loader {
    transform: translate(-50%, -50%);
    border: 20px solid rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left-color: blue;
    animation: spin 1s ease infinite;
    opacity: 0.8;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }